---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Override neon skin's pink with neon blue/green
$primary-color: #00f2de !default;      
$background-color: #0a0a0a !default;      

@import "minimal-mistakes/skins/neon";
@import "minimal-mistakes";
